---
title: Dictionary Index 
---
# Index

<!--http://www.rubydoc.info/github/middleman/middleman/Middleman/Sitemap-->
<% dict_path = 'pages/dictionary/' %>
<% pages = sitemap.resources.select {|resource| resource.path.start_with?(dict_path)} %>
<% pages = pages.select{|resource| !resource.directory_index?}.sort_by {|x| x.data.title} %>
<% last_initial = nil %>
<% pages.each do |page| %>
<% initial = page.data.title[0,1].upcase %>
<% if initial != last_initial %>
<hr><h2><%=initial%></h2><hr>
<% end %>
<%= link_to page.data.title, '/'+page.path, relative: false %> - <%=page.data.description%><br>
<% last_initial = initial %>
<% end %>

