---
title: Project Documentation
---

<h1>
Project Documentation
</h1>

<!--%= link_to 'Presentations', '/pages/presentations/index.html', :relative => true %-->
<hr>

Wiki,Mail,Bugs,Code Review, Dictionary/acronyms,
Presentations(remark.js, reveal.js), blog posts

<!--%= link_to(
  "Read Documentation",
  "https://middlemanapp.com/basics/templating_language/",
  target: "_blank"
) %-->
