---
title: Welcome to Middleman
---

<h1>
  Middleman is Running
</h1>

<%= alert_box 'Alert box' %>

<%= alert_box 'You accepted the Terms of service.', dismissible: true %>


Wiki,Mail,Bugs,Code Review, Dictionary/acronyms,
Presentations(remark.js, reveal.js), blog posts

<%= link_to(
  "Read Documentation",
  "https://middlemanapp.com/basics/templating_language/",
  target: "_blank"
) %>
