---
title: Project Documentation
---

<h1>
Project Documentation
</h1>

<p>
<mark>Project Documentation</mark> web pages are statically generated with Middleman.
</p>

<p>
Simple way to run web-server: <code>python3 -m http.server</code>.
<kbd>ctrl + C</kbd> will stop the process.
</p>

<!--%= link_to(
  "Read Documentation",
  "https://middlemanapp.com/basics/templating_language/",
  target: "_blank"
) %-->
