---

title: Make support for non blog resources like wiki pages
date: 2017/12/10
user: igor
category: task
status: open
progress: 10
tags: priority-medium
assignee: igor

---

# Make support for non blog resources like wiki pages

Wiki pages are not similar to blog pages.
For wiki pages I need:

- parse tree-like directory structure,
- show tree navigation panel,
- show selected in the navigation panel html page.

## Helper that creates tree structure with Ruby hashes

item is {key:String, subnodes:Hash}

File site/helpers/resource_tree_helper.rb

```ruby
module ResourceTreeHelper

# Each item in the tree is {key, valHash}, where valHash is empty,
# if it is a leaf. This way we can build a tree by always
# inserting new item into node Hash.
#
def resource_tree(resources=sitemap.resources, strip_prefix='pages/')
    tree = {}
    resources.each do |resource|
        parts = resource.destination_path.partition(strip_prefix)[2].split('/')
        tree_node = tree
        parts.each do |part|
            tree_node[part] = {} unless tree_node.has_key?(part)
            tree_node = tree_node[part]
        end
    end
    tree
end

# hash is output of resource_tree and its type is Hash 
def print_resource_tree(hash, ul='<ul>', indent=0)
    output = ""
    hash.each do |key,val|
        is_leaf = val.empty?
        if is_leaf
            output << (' '*indent) + "<li>" + '<a href="#">' + key + "</a>" + "</li>"> + "\n"
        else
            output << (' '*indent) + "<li>" + '<a href="#">' + key + '</a>' + "\n"
            output << (' '*indent) + ul + "\n"
            output << print_resource_tree(val, ul, indent + 4)
            output << (' '*indent) + "</ul></li>\n"
        end
    end
    output
end

end
```
